.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 2rem;
    color: aqua;
}

.aqua {
    color: aqua;
}

.search-button {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid aqua;
    max-width: 10%;
    height: 2rem;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
    margin: auto;
}



@media screen and (max-width: 700px ){
    .navbar h1{
        font-size: 28px;
    }
}